@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;700&display=swap');

body {
  margin: 1em;
  background-color: #1b263b !important;
  font-family: 'Karla', sans-serif;
}
.expense-tracker {
  margin: 0 auto;
  padding: 1vh;
  background-color: #415a77;
  color: aliceblue;
  width: 30%;
}

h1, h2, h3 {
  margin: 0;
  padding: 0.5vh;
  text-align: center;
}

.form-control {
  margin: 0;
}

.income-expense {
  margin: 0;
  padding: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.income-expense {
  margin: 0 auto;
  background-color: #000;
  width: 90%;
}

.remaining {
  text-align: left !important;
}

.plus {
  color: #0077b6;
  font-weight: bolder;
}

.minus {
  color: #e63946;
  font-weight: bolder;
}

input {
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.long-btn {
  width: 100%;
  height: 2em;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}