@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;700&display=swap');

body {
  margin: 1em !important;
  background-color: #1b263b !important;
  font-family: 'Karla', sans-serif;
}
.expense-tracker {
  margin: 2em auto;
  padding: 1em;
  background-color: #415a77;
  color: #f5fcfe;
  width: 35%;
  border-radius: 3%;
}

h1, h2, h3, h4 {
  margin: 0;
  padding-left: 0.5em;
  text-align: center;
}

.income-expense {
  margin: 0 auto;
  padding: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #003554;
  border-radius: 10px;
}

input {
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


@media screen and (max-width: 850px) {

  body {
    margin: 0 !important;
  }
  .expense-tracker {
    margin: 0;
    padding: 1em;
    background-color: #415a77;
    color: aliceblue;
    width: 100%;
    border-radius: 3%;
  }
}